<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Following is the Inerpolation syntax</h1>
    <h3>1 + 4 = <%= 1 + 4 %></h3> <!-- Will give the output of the expression. =5 -->
    <p>This is paragraph. Lorem ipsom</p>
    <button>Hello Sohail!</button>
    
</body>
</html>