<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in details</title>
</head>
<body>
    <p>Author: <%= single_post.username %></p>
    <h1>Title: <%= single_post.content %></h1>
</body>
</html>